
@include media(Mobile) {
  .header-content {
    width: 95%;
    .right_header_text {
      font-size: 1rem!important;
      line-height: 1.8rem;
      padding: 20px 40px 20px 10px;
    }
    .btn_con {
      margin: 0 25px;
      .btn_main {
        width: auto;
      }
    }
  }
  .image {
    img {
      width: 75%!important;
    }
  }
  .menu {
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    background-color: unset;
    width: auto;
  }
}

@include media(Tablet) {
  .header-content {
    width: 95%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .right_header {
      padding: 0;
      .right_header_name{
        font-size: 2.2rem;
        text-align: left;
      }
    }
  }

  .left_header {
    display: flex;
    align-items: center;
    .image {
      border-radius: var(--br-sm-2);
      height: 90%;
      width: 80%;
      margin-left: 2rem;
      background-color: var(--color-black);
      transition: all 0.4s ease-in-out;
    }
    .h-shape {
      transition: all 0.4s ease-in-out;
      width: 45%;
      height: 100%;
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
    }
  }
}

@include media(Laptop) {
  .header-content {
    .right_header {
      display: flex;
      padding: 2px 55px 0 0;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .right_header_name {
      padding-right: 41px !important;
      font-size: 2.8rem !important;
    }
    .right_header_text {
      line-height: 2rem;
      padding: 20px 40px 46px 10px;
      font-size: 1.4rem !important;
    }
  }
}
