
@include media(Tablet) {
  .header-content {
    
    
    .btn_con {
      margin: 0 25px;
      .btn_main {
        width: auto;
      }
    }
  }
  .image {
    img {
      width: 75%;
    }
  }
  .menu {
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    background-color: unset;
    width: auto;
  }
}

@include media(Tablet) {
  .container{
    padding: 4rem;
  }
  .header-content {
    width: 95%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .right_header {
      padding: 0;
      .right_header_text {
        font-size: 1rem!important;
        line-height: 1.8rem;
        padding: 20px 40px 20px 10px;
      }
      .right_header_name{
        font-size: 2.2rem;
        text-align: left;
      }
    }
  }

  .left_header {
    display: flex;
    align-items: center;
    .image {
      border-radius: var(--br-sm-2);
      height: 90%;
      width: 80%;
      margin-left: 2rem;
      background-color: var(--color-black);
      transition: all 0.4s ease-in-out;
    }
    .h-shape {
      transition: all 0.4s ease-in-out;
      width: 45%;
      height: 100%;
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
    }
  }

.left-about{
  width: 90%;
}
.about-container{
.right-about{
  width: 85%;
    display: flex;
    padding-top: 2.5rem;
    grid-gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
}
.about-stats {
  padding: 0 2rem;
  .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}
  .portfolios{
    width: 90%;
  }
}
@include media(Laptop) {
  .header-content {
    .right_header {
      display: flex;
      padding: 2px 55px 0 0;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .right_header_name {
      padding-right: 41px !important;
      font-size: 2.8rem !important;
    }
    .right_header_text {
      line-height: 2rem;
      padding: 20px 40px 46px 10px;
      font-size: 1.4rem !important;
    }
  }
.about-container {
  flex-direction: row;
}
.about-stats {
  padding-right: 4rem;
  
 .progress-bars{
  font-size: 1.4rem;
 }
}
.stat-title{
  font-size: 2.2rem;
}
.port-text {
  font-size: 1.2rem;
}
.portfolios{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem
  img{
    width: 100%;
  }
}
}
