@import "base";
header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
  padding: 0 !important;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;

  .image {
    border-radius: var(--br-sm-2);
    background-color: var(--color-black);
    transition: all 0.4s ease-in-out;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.4s ease-in-out;
      filter: grayscale(100%);
      &:hover {
        filter: grayscale(0);
      }
    }
  }
}

.header-content {
  width: 80%;
  display: flex;
  flex-direction: column-reverse;

  .right_header {
    padding: 20px;

    .right_header_name {
      padding: 40px 0 20px;
      font-size: 2.4rem;
      text-align: center;
      font-weight: bold;
      span {
        color: var(--color-secondary);
      }
    }
    .right_header_text {
      font-size: 1.2rem;
    }
  }
  .btn_con {
    margin-top: 30px;
    display: flex;
    .btn_main {
      width: 80%;
      justify-content: space-between;
      border-radius: 40px;
      color: inherit;
      font-weight: bold;
      border: 1px solid var(--color-secondary);
      display: flex;
      align-items: center;
      overflow: hidden;

      .btn_text {
        font-size: 1rem;
        padding: 0 30px;
      }
      .btn_icon {
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
        font-size: 20px;
      }
    }
  }
}

.left-header {
  .h-shape {
    display: none;
  }
}
.menu {
  position: fixed;
  display: flex;
  top: auto;
  bottom: 0;
  flex-direction: row;
  justify-content: space-evenly;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: var(--color-grey-5);
  .menu_items {
    cursor: pointer;
    background-color: var(--color-grey-4);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0;
    box-shadow: var(--box-shadow-1);
    i {
      font-size: 1.2rem;
      color: var(--color-grey-2);
      pointer-events: none;
    }
  }
  .active-btn {
    background-color: var(--color-secondary);
    transition: all 0.4s ease-in-out;
    i {
      color: var(--color-white);
    }
  }
}

@import "media";
